{% extends 'base.html' %}
{% load static %}

{% block head %}
        <link rel="stylesheet" href="{% static 'card-list.css' %}">
{% endblock %}

{% block content %}
<div class="resident-container">
    {% for resident in residents %}
    <a class="resident-url" href="{% url 'resident' resident.pk %}">
        <div class="card">
            <div class="card-head">
                {% if resident.image %}
                    <img class="resident-thumb" src="{{ resident.image }}">
                {% else %}
                    {# static 'images/human.png' #}
                {% endif %}
            </div>
            <div class="card-detail">
                <h3 class="card-title">{{ resident.forename }}</h3>
                <p class="card-description">{{ resident.email }}</p>
                <p class="card-hint">{{ resident.room.room_code }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<div class="base-layer"/>

{% endblock content %}
